body{
    background-color: #001632e5;
    
}
header{
    margin-top: 100px;
    text-align: center;
}
h1{
    color: greenyellow;
    font-size: 4rem;
}
h2{
    color: white;
    font-size: 3rem;
}
.containform{
    background-color: #f8f9fa;
    border-radius: 5px;
    padding: 30px;
}

label{
    margin-right: 200px;
}

.text , .option{
    margin-top: 50px;
}
.text{
    margin-right: 100px;
}